
* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px){
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 380px){
    .pokemons {
    grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px){
    .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

