
* {
    font-family: "Roboto", sans-serif;
}

ol.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ol.pokemons li {
    margin: .5rem;
    padding:  2rem 1rem;
    background-color: #14A06F;
    border-radius: 1rem;
    color: #fff;
    height: 100px;
    
}
