* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}